.header {
  min-width: 320px;
  background-color: $color-midnight-express;

  .container {
    display: flex;
    align-items: center;
    padding: 49px 30px 8px;

    @include vp-1439 {
      padding: 49px 20px 8px;
    }
  }

  &__logo {
    flex: 0 0 auto;
    margin-top: -4px;
  }

  &__toggle {
    display: none;
  }

  &__navigation {
    margin-right: auto;
  }

  &__socials {
    display: none;
  }

  &__login {
    min-width: 188px;
  }
}
