.logo {
  display: flex;
  width: 200px;
  height: 50px;
  color: $color-default-white;

  @include vp-1439 {
    width: 166px;
    height: 42px;
  }

  @include vp-767 {
    width: 96px;
    height: 15px;
  }
}
