mixin logo(currentUrl)
  .logo&attributes(attributes)
    if(currentUrl === "index.html")
      span
        +logo-icon()
    else
      +link({href: "index.html"})(aria-label="Переход на главную.")
        +logo-icon()
