mixin navigation(navigationLinks, currentUrl)
  .navigation&attributes(attributes)
    ul.navigation__list
      each link in navigationLinks
        - const {href, text} = link
        - const activeState = currentUrl === link.href
        li.navigation__item
          if(activeState)
            span.navigation__link.is-active=text
          else
            +link({href: href, text: text}).link--big.navigation__link
