mixin header(headerMods, currentUrl)
  header.header(class=headerMods)
    .container
      +logo(currentUrl).header__logo
      +button(aria-label="Переключатель отображения меню.", aria-pressed="false").header__toggle
      +navigation(currentUrl).header__navigation
